.App {
  text-align: center;
}

.residentData {
  justify-content: start;
  align-items: center;
  justify-content: center;
}

thead tr {
  display: grid;
}

thead th {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-rows: 7fr;
  width: 25vw;
  justify-content: start;
  grid-row: 1;
  grid-column: auto;
}

tbody tr {
  display: grid;
}

tbody td {
    display: grid;
  grid-template-rows: 1fr;
  grid-template-rows: 7fr;
  width: 25vw;
  justify-content: start;
  grid-row: 1;
  grid-column: auto;

}
